@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    /* ### Primary */
    --Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* ## Gradients */
--Light-slate-blue-background: hsl(252, 100%, 67%);
--Light-royal-blue-background: hsl(241, 81%, 54%);

--Violet-blue-circle: hsla(256, 72%, 46%, 1);
--Persian-blue-circle: hsla(241, 72%, 46%, 0);

/* ### Neutral */
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}

body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: 'Hanken Grotesk', sans-serif;
}
/* .center {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  } */

.result-card{
    background-image: linear-gradient(to bottom right, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    /* margin: auto;
    width: 50%;
    
    padding: 70px 0; */
}
.marks{
    background-image: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle) );
    border-radius: 50%;
}
.summary-card{
    border-radius: 0 40px 40px 0;

}
.reaction-card, .memory-card, .verbal-card,.visual-card {
    background-color: lightcyan;
    padding: 15px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: 10px;
}
.reaction{
    color: var(--Light-red);

}
.memory{
    color: var(--Orangey-yellow);
}
.vebal{
    color: var(--Green-teal);
}
.visual{
    color: var(--Cobalt-blue);
}
.continue-btn{
    color: var(--White);
    background-image: linear-gradient(to bottom right, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
    padding: 10px 120px;
    margin-top: 10px;
    margin-bottom: 20px;

}